* {
    /* 清除内外边距 */
    padding: 0;
    margin: 0;

    /* 把整个页面的字体都换了，原版是引入了一款字体,这里随便引入一款字体就好了 */
    font-family: serif;
}

body {
    background: #0a2a43;

    /* 设置网页最小的高度为1500px；
    如果内容加起来大于1500px，那么就去内容的高度 */
    min-height: 1500px;
}

section {
    position: relative;
    /* 设置section 宽度占满整个body，高度占满整个视口 */
    width: 100%;
    height: 100vh;

    /* 内容超出section范围就隐藏，设置滚动效果；
    向下滚动之后，内容移动，会超出section范围，遮挡其他（因为内容都是绝对定位），所以设置超出范围隐藏
    可以注释掉之后试一试。
    */
    overflow: hidden;

    /* 设置弹性盒子，对内容进行排列管理，
        主轴、副轴均居中
    */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 在section底部生成一个，由底向上逐渐透明的一层 */
section::before {
    /* 使用伪类来实现 */
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    /* 从下至上，从有颜色到透明 */
    background: linear-gradient(to top,#0a2a43,transparent);
    /* 浮到最上面 */
    z-index: 10000;
}

section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a2a43;
    z-index: 10000;

    /* 将图片和这个伪类的背景颜色混合，使图片呈现统一的颜色 */
    mix-blend-mode: color;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* 使图片填满整个容器，宽度和高度中最小的那个都要填满父盒子，所以可能会有比父元素大的部分 */
    object-fit: cover;
    pointer-events: none;
}

#text {
    position: relative;
    color: #fff;
    /* 相对于父元素的自体大小来说的，就是10*16 px */
    font-size: 10em;
    /* font-size: 160px; */
    z-index: 1;
}

#road {
    z-index: 2;
}


/* 下方文字 */
div {
    /* 设置flex，主轴侧轴都居中，允许换行 */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    /* top: 100px; */
    z-index: 100001;
    padding: 50px 0;
}

div h1{
    font-size: 6em;
    text-align: center;
    color: #fff;
}

div p {
    max-width: 1200px;
    color: #fff;
    font-size: 1.5em;
}
